.client-list-main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.client-list-main *{
    width: 170px;
    height: 112px;
    overflow: hidden;
    border: 0.8px solid grey;
    margin-block: 10px;
}

@media only screen and (max-width: 1366px) {
    .client-list-main{
        
    }

    .client-list-main *{

    }
}

@media screen and (max-width:720px) {
    .client-list-main{
        display: block;
    }
}