.main-home{
    margin-inline: 30px;
    margin-block: 50px;
}

.main-home .upper-photo-sec{
    display: flex;
    margin-block: 40px;
}

.main-home .upper-photo-sec > .main-image{
    margin-right: 20px;
}

.main-home .upper-photo-sec .signal-image{
    display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10px;
}


.main-home .lower-content-sec{
    display: flex;
    width: 100%;
    line-height: 29px;
    font-size: 60px;
    color: rgb(63, 63, 70);
    margin-top: 40px;
    font-weight: 600;
    gap: 20px;
}


.main-home .lower-content-sec .com-heading{
    font-size: 40px;
    text-align:  center;
    margin-bottom: 30px;
}

.main-home .lower-content-sec .color-blue{
    color: rgb(0, 0, 128);
}

.main-home .lower-content-sec .color-red{
    color: rgb(255,0,0);
}

.main-home .lower-content-sec .color-brown{
    color: rgb(153, 0, 0);
}

.main-home .lower-content-sec .info-content{
    font-size: 16px;
}

.main-home .lower-sec-head{
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    margin-block: 25px;
} 

.main-home .grid-image-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.info-images{
    width: 30%;
}

.info-images .side-sec{
    margin-bottom: 20px;
}

.info-images .side-sec-head{
    font-size: 16px;
    font-weight: 600;
    border-bottom: 2px solid #207daf;
    box-sizing: border-box;
    height: 28px;
    white-space: nowrap;
}

.info-images .side-sec-head .heading{
    background-color: #207daf;
    color: white;
    padding: 6px 14px;
    border-radius: 5px 5px 0 0;
}

.info-images .head-info{
    font-size: 14px;
    line-height: 25px;
    margin-block: 12px;
}

.info-images .sec-info-img{
    width: 300px;
    height: 167px;
    margin-block: 12px;
    border-radius: 4px;
    border: 1px solid black;
}

@media only screen and (max-width: 1366px) {
    .info-images {
        width: 70%;
    }
}