.nav-main {
    background-color: #27272a;
    border-top: 5px solid #207daf;
    user-select: none;
}

.nav-main .nav-leader {
    color: white;
    font-size: 20px;
    list-style: none;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    width: 90%;
    margin-inline: auto;
    font-size: 14px;
    font-weight: 600;
    line-height: 28px;
}

.nav-main .nav-item {
    width: 100%;
    white-space: nowrap;
    text-align: center;
    padding-block: 10px;
    transition: 0.5s;
    cursor: pointer;
    font-size: 16px;
}

.nav-main .nav-item:hover {
    background-color: #207daf;
}

.nav-main .nav-item .arrow-icon {
    margin-top: 1px;
}

.nav-main .nav-sub-leader {
    list-style: none;
    text-align: left;
    background-color: #27272a;
    position: absolute;
    z-index: 10;
    padding-block: 12px;
    display: none;
    overflow: hidden;
}

.nav-main .nav-leader .nav-item:hover  .nav-sub-leader{
    display: block !important;
}

.nav-main .nav-sub-leader .nav-sub-leader-item:hover{
    background-color: #207daf;
}

.nav-main .nav-sub-leader .nav-sub-leader-item {
    padding-block: 8px;
    font-size: 14px;
    transition: 0.3s;
    padding-inline: 16px;
}

.hamburger{
    font-size: 30px;
    margin-top: 14px;
    color: white;
    margin-left: 22px;
}

.show-in-tablet-mobile{
    display: none;
}


@media only screen and (max-width: 760px) {
    .nav-main .nav-leader{
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .nav-main .nav-leader .nav-item{
        text-align: left;
        /* display: flex; */
        /* justify-content: space-between; */
    }

    .nav-main .nav-leader .nav-sub-leader{
        position: relative;
    }

    .show-in-tablet-mobile{
        display: block;
        margin-top: 10px;
    }
}

