.main-our-team{
    display: flex;
    margin-inline: 20px;
    margin-top: 40px;
    gap: 20px;
}

.main-our-team .our-team{
    width: 70%;
    border: 1px solid #eaeaea;
    border-radius: 4px;
    padding-inline: 20px;
    padding-block: 12px;
    height: fit-content;
    padding-bottom: 50px;
}

.main-our-team .our-team .team-head{
    color: #27272a;
    font-size: 32px;
    line-height: 42px;
    font-weight: 500;
    margin-bottom: 8px;
}

.main-our-team .our-team .date{
        color: #71717a;
        font-size: 16px;
}

.main-our-team .our-team .team-content{
    margin-top: 30px;
    font-size: 16px;
    line-height: 25px;
    color: #3f3f46;
}

.main-our-team .our-team .img-info-about-ceo{
    margin-top: 18px;
    display: flex;
}

.main-our-team .our-team .img-info-about-ceo .ceo-img img{
    width: 226px;
    height: 179px;
    border: 1px solid black;
    border-radius: 3px;
}

.main-our-team .our-team .img-info-about-ceo .ceo-info{
    margin-left: 22px;
}